{
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "ignorePatterns": ["*.js"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "eslint-plugin-import"],
  "root": true,
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "error",
    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-unused-vars": ["error", { "varsIgnorePattern": "_" }],
    "@typescript-eslint/quotes": "error",
    "func-style": ["error", "expression"],
    "import/newline-after-import": "error",
    "import/order": [
      "error",
      {
        "groups": [["builtin", "external"]],
        "newlines-between": "always"
      }
    ],
    "indent": ["error", 2],
    "newline-after-var": "error",
    "newline-before-return": "error",
    "no-console": ["error", { "allow": ["warn", "table", "info", "error"] }],
    "no-inline-comments": "error",
    "no-multiple-empty-lines": ["error", { "max": 1 }],
    "no-restricted-syntax": ["error", "FunctionDeclaration"],
    "no-trailing-spaces": "error",
    "no-unused-vars": "error",
    "prefer-const": "error",
    "semi": "error"
  }
}
